.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  
  grid-gap: 10px;
  background-color: (192,192,192,192;
  padding: 30px;
}
.grid-container > div {
  background-color: rgba(0, 0, 0, 0);
 
   float:left;
  text-align: center;
  font-size: 9px;
}