body{
  
}

main{
  margin-left:10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;

  grid-gap:3em;
  background-color: (192,192,192,192);
  padding: 30px;
 

}
.grid-container > div {
  background-color: rgba(0, 0, 0, 0);


  font-size: 100%;
}

.grid-container  h3{
  margin-top:0;
  margin-bottom: 10px;
}

.grid-container p{


  float:center;
  font-size:80%;
}

.grid-container img{
  margin-right:10px;
}

/* grid containeri i dyte */

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;

  grid-gap:3em;
  background-color: (192,192,192,192);
  padding: 30px;
  margin:40px;
  
  padding-left:0;
  padding-right: 0;
}
.grid-container2 img{
  border-radius:50%;
  margin-right:20px;

}

.grid-container2 p{

  font-size:16px;
}

.grid-container2 h3{
  margin-top:0;
  margin-bottom: 0;
}

/* CONTACT US TODAY */

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto auto;

  grid-gap:0em;
  border-radius:10px;

  background-color:rgb(151,69,95);
  color:white;
  height:8em;
  margin:40px;
 
}


.before-contactus h1{
  font-size:200%;
}
.before-contactus p{
  font-size:100%;
}

.before-contactus{
  margin:0 0 0 2em;


}
.contactus{
  background-color:white;
  margin:2em 0em 2em 2em;

  border-radius:10px;
  padding-right: 0;

}

.contactus a{
  font-size:30px;
  text-decoration: none;
  color:rgb(151,69,95);
  padding:10px 10px 10px 20px;
  float:center;

}
.desc {
  padding: 15px;
  text-align: center;
  }
  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {
  display: none;
}
img {vertical-align:center;}

/* Slideshow container */
.slideshow-container {
<<<<<<< HEAD
  width: 100%;
 
  margin-left: 50px;
  margin-top: 40px;
=======
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
>>>>>>> c202bf01bdeed7d3c23f5a6404f515dce2c82df8
}



.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activ {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
* {
  box-sizing: border-box;
  align-items: right;
}

body {
  font-family: serif;
  font-size: 17px;
}


.con {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

.con img {
  vertical-align: center;
  margin-left: 0;


}


.con .content {
  margin-bottom: 40px;
  margin-left: 50%;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(128,128,128); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 48%;
  padding: 20px;
}
.tit {
    text-align: center;
    display: block;
    margin: 60px 0 50px 0;
    line-height: 0;
    border-bottom: 3px solid #aaa;
}
 
.tit span{
        background-color: #fff;
        padding: 0 15px;
}
