footer {
margin-bottom: 0px;
padding: 1em;
background: #D3D3D3;
min-width: 100%;
}
.ph{
			margin-top: 10px;
			border: 0;
			background-color: #white;
			border-radius: 3px;
			font-size: 15px;
			width: 70%;
			padding: 5px ;
			color: #666666;
		}
