
body{
	background-color: white;
	font-family: serif;


}

/* stilizimi i headerit */
header{
	background-color: rgb(235,235,235);
	min-height: 140px;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:100%;


}

header h1{
	padding-left: 20px;
	padding-bottom: 0;
	padding-top: 20px;
	float:left;
}

header form{
	float:right;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 20px;

}

.search{
	min-height: 20px;




}
header form input{
	height: 28px;
	width:205px;
	border:none;
	border-radius:5px 0px 0px 5px;
	padding-left: 5px;
font-family: serif;

}

header form button{
	background-color: rgb(151,69,95);
	text-align:center;
	height:30px;
	color:white;
	align-content: center;
	border: none;
	border-radius:0px 5px 5px 0px;
	font-family: serif;

	}

/* stilizimi i navigimit */

nav{
	background-color:rgb(235,235,235);
}

nav ul {
	margin-top:0;
	background-color: rgb(151,69,95);
	min-height: 30px;
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
	padding-left: 0px;
	border-radius:5px 5px 0px 0px;
	

}

nav ul li{
	display:inline;
	padding: 0px  10px 20px;
	margin:0 0 0 0;
	




}
nav ul li a{
	color:white;
	text-decoration:none;
	

}
nav ul li:hover{
background-color:rgb(106 49 69);
  	padding-top: 10px;
  	padding-bottom: 12px;
  	border-radius:5px 0px 0px;
}
.active{
	background-color:rgb(106 49 69);
	padding-top: 10px;
	padding-bottom: 12px;
	border-radius:5px 0px 0px;
}
big {
	font-size: 150%;
}
.kyqja {
	flex: 1;
	padding-right: 0.5%;
	padding-top: 1.5%;
	text-align: right;
color:rgb(106 49 69);
text-decoration:none;
}
#vendosja {
	flex: 1;
	text-align:left;
}
#renditja {

	list-style-type: none;
	padding-left: 1%;
	padding-top: 0;
	padding-bottom: 0;
}
#prapavija {


	background-color: white;
display: flex;
}
 .gjersia
		{

		min-width: 100px;
		margin-bottom:10px;
		margin-top: 10px;
		font-size: 100%

		}


.r1 {
    border-bottom: 4px black;
    height: 500px;
}
.butoni {
  background-color: rgb(151,69,95);
  text-align:right;
  height:30px;
  color:white;
  align-content: right;
  border: none;
  border-radius:0px 5px 5px 0px;
  font-family: serif;

}